.button-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    
  }
  
  .move-button {
    position: absolute;
    top: 50px;
    left: 42%; 
    margin: auto;
    background-color: #ffe745;
    border-radius: 15%;
  }
  